* {
    align-items: center;
}

.container {
    display: flex;
    border: 2px solid black;
    width: 75%;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.col {
    flex-basis: 100%;
}

.item {
    background-color: blue;
    opacity: 0;
    transition: opacity 2s ease 0.4s, transform 0.8s ease;
    transform: scale(1);
}

.item:hover {
    opacity: 1; 
    transition: opacity 0.2s ease;
    transform: scale(1.04);
  }